[Desktop Entry]
Type=Application
Exec=python /home/italo/Documents/GitHub/sunlight_wallpaper_changer/py_wallpaper_changer.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=wallpaper changer
